@import url('https://fonts.googleapis.com/css2?family=Modak&family=Ultra&display=swap');

:root {
    color-scheme: light dark;
}

body {
    margin: 0; 
    font-family: "Ultra", serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background: light-dark(#ffffff, rgb(26, 24, 24));
    height: 100vh;
    margin: 0; 
    font-family: "Ultra", serif;
    position: relative; 
}

.wordle {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
}

.grid {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    width: 100%;
    flex: 1; 
    box-sizing: border-box;
}

.row-case {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
    color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
    border: 1.5px solid light-dark(rgb(0, 0, 0), rgb(255, 255, 255)); 
    border-radius: 10%;
    margin: 1%;
    aspect-ratio: 1;
}

.input-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input-case {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: light-dark(rgb(199, 199, 199), rgb(58, 58, 58)); 
    border: 1.5px solid light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
    border-radius: 10%;
    margin: 1%;
    flex: 1;
    aspect-ratio: 1;
}

.valid {
    background-color: #30c230; 
    transition: background-color 0.5s ease, transform 0.3s ease;
    animation: pop 0.4s ease-in-out;
}

.almost {
    background-color: #f7d40f; 
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.fail {
    background-color: #ec2828; 
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.option {
    position: absolute; 
    transition: all 0.3s ease;
}

.option:hover {
    cursor: pointer;
    transform: scale(1.085) rotate(180deg);
}

.option>img {
    width: 100%;
    height: 100%;
}

@media (orientation: landscape) {
    .input-case {
        font-size: 6vh;
    }

    .row-case {
        font-size: 6vh;
    }

    .wordle {
        width: 48vh; 
        height: 60vh; 
    }

    .option {
        top: 1vh; 
        right: 1vh; 
        width: 5vh;
        height: 5vh;
    }
}
  
@media (orientation: portrait) {
    
    .input-case {
        font-size: 6vw;
    }

    .row-case {
        font-size: 6vw;
    }

    .wordle {
        width: 48vw; 
        height: 60vw; 
    }

    .option {
        top: 1vw; 
        right: 1vw; 
        width: 5vw;
        height: 5vw;
    }
}

@keyframes pop {
    0% { transform: scale(0.8); }
    30% { transform: scale(1.2); }
    50% { transform: scale(1); }
    70% { transform: scale(1.1); }
    100% { transform: scale(1); }
}